@font-face {
  font-family: 'SongerBold';
  src: url('../../../font/Songer/SONGER_G_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TT2020E';
  src: url('../../../font/TT2020/TT2020StyleE-Regular.ttf')
    format('truetype');
}
