:root {
  font-family: 'TT2020E', serif;

  --color-black: #0B0E11;
  --color-text-light: #F9FAFB;
  --color-text-muted: #CBD5E1;
	--color-green: #148F77;
	--color-blue: #3D5A7A;
	--color-red: #DC431B;
  --color-accent-gold-soft: #E6D3B3;

  --color-shadow-black-50: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
	background:
	linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.9)),
	url('../../img/back.webp') center center / cover fixed no-repeat;
	color: var(--color-text-light);
}

#root {
  min-height: 100vh;
}
